@use "../abstracts" as *;

@each $size-name, $size-value in $sizes {
	.margin {
		&-#{$size-name} {
			margin: $size-value;
		}
		&-block-start-#{$size-name} {
			//margin-top
			margin-block-start: $size-value;
		}
		&-block-end-#{$size-name} {
			//margin-bottom
			margin-block-end: $size-value;
		}
		&-block-#{$size-name} {
			//margin-top and margin-bottom
			margin-block: $size-value;
		}
		&-inline-start-#{$size-name} {
			//margin-left
			margin-inline-start: $size-value;
		}
		&-inline-end-#{$size-name} {
			//margin-right
			margin-inline-end: $size-value;
		}
		&-inline-#{$size-name} {
			//margin-right and left
			margin-inline: $size-value;
		}
	}
	.padding {
		&-#{$size-name} {
			padding: $size-value;
		}
		&-block-start-#{$size-name} {
			//padding-top
			padding-block-start: $size-value;
		}
		&-block-end-#{$size-name} {
			//padding-bottom
			padding-block-end: $size-value;
		}
		&-block-#{$size-name} {
			//padding-top and padding-bottom
			padding-block: $size-value;
		}
		&-inline-start-#{$size-name} {
			//padding-left
			padding-inline-start: $size-value;
		}
		&-inline-end-#{$size-name} {
			//padding-right
			padding-inline-end: $size-value;
		}
		&-inline-#{$size-name} {
			//padding-right and left
			padding-inline: $size-value;
		}
	}
}
